<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
        <span class="fs-4">Design System API 🥳</span>
      </a>
    </header>

    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Les propriétes, rien que les propriétés je le jure !</h1>
        <p class="col-md-8 fs-4">Avec l'API design system, vous aurez la possibilité de récupérer directement les bonnes propriétes sans être pollué(e) par d'audres données.
          C'est un gain de temps pour la mise en forme UI de vos composants avec vos propres classes ^^
        </p>
      </div>
    </div>

    <div class="row align-items-md-stretch">

      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>Mise en forme des boutons</h2>
          <button class="ds-btn ds-btn--primary mb-3" type="button">Hello Design System</button>
          <p class="alert alert-success p-1 mb-3" role="alert">
            GET /design-system/api/v1/button
          </p>
          <div id="outputButton"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>La map des couleurs</h2>
            <ul class="color-chip-list mt-3 mb-3">
              <li *ngFor="let color of data_colors">
                <div class="color-chip" style="background:{{color.value}}"></div>
              </li>
            </ul>
            <p class="alert alert-success p-1 mb-3" role="alert">
              GET /design-system/api/v1/colors
            </p>
            <div id="outputColors"></div>
        </div>
      </div>

    </div>
    <footer class="pt-3 mt-4 text-body-secondary border-top">
      &copy; 2023
    </footer>
  </div>
</main>
